[submodule "indent-blankline.nvim"]
	path = .config/nvim/pack/bundle/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "lazily-nvim"]
	path = .config/nvim/pack/bundle/start/lazily-nvim
	url = https://github.com/Chromosore/lazily-nvim.git
[submodule "nerdtree"]
	path = .config/nvim/pack/bundle/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "nerdtree-syntax-highlight"]
	path = .config/nvim/pack/bundle/opt/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "nvim-luapad"]
	path = .config/nvim/pack/bundle/start/nvim-luapad
	url = https://github.com/rafcamlet/nvim-luapad.git
[submodule "undotree"]
	path = .config/nvim/pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim-commentary"]
	path = .config/nvim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-devicons"]
	path = .config/nvim/pack/bundle/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim-sandwich"]
	path = .config/nvim/pack/bundle/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git

[submodule "language/editorconfig.nvim"]
	path = .config/nvim/pack/languages/start/editorconfig.nvim
	url = https://github.com/gpanders/editorconfig.nvim.git
[submodule "language/nvim-lspconfig"]
	path = .config/nvim/pack/languages/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "language/nvim-treesitter"]
	path = .config/nvim/pack/languages/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "language/spellsitter.nvim"]
	path = .config/nvim/pack/languages/start/spellsitter.nvim
	url = https://github.com/lewis6991/spellsitter.nvim.git
[submodule "language/vim-kitty"]
	path = .config/nvim/pack/languages/start/vim-kitty
	url = https://github.com/fladson/vim-kitty.git

[submodule "theme/vim-wwdc17"]
	path = .config/nvim/pack/themes/start/vim-wwdc17
	url = https://github.com/lifepillar/vim-wwdc17-theme.git
[submodule "theme/vim-inkpot-refilled"]
	path = .vim/pack/themes/start/vim-inkpot-refilled
	url = https://github.com/Chromosore/vim-inkpot-refilled.git

[submodule "theme/vim-wwdc16"]
	path = .config/nvim/pack/themes/start/vim-wwdc16
	url = https://github.com/lifepillar/vim-wwdc16-theme.git
[submodule "theme/vim-solarized8"]
	path = .config/nvim/pack/themes/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "theme/badwolf"]
	path = .config/nvim/pack/themes/start/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "theme/oceanic-next"]
	path = .config/nvim/pack/themes/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "theme/jellybeans.vim"]
	path = .config/nvim/pack/themes/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "theme/vim-one"]
	path = .config/nvim/pack/themes/start/vim-one
	url = https://github.com/rakr/vim-one.git
